.component.header .component.navigation > nav > ul.container {
  @media (min-width: 1024px) {
    width: auto;
    max-width: none;
    margin-inline: 0;
    padding-block: 0;
    padding-inline: 0;
  }
}

.component.header .component.language-switcher {
  display: flex;
  justify-content: flex-end;
}
